@charset "UTF-8";
.media {
  margin: 10px;
}

.media,
.media_body {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

.media img {
  float: left;
  margin-right: 10px;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

svg {
  max-height: 100%;
}

a {
  color: #22A7F0;
  text-decoration: none;
}

section {
  padding-top: 20px;
}

.Container, article, .PropertyHeader {
  margin: 0 10px;
  max-width: 1024px;
}
@media (min-width: 750px) {
  .Container, article, .PropertyHeader {
    margin: 0 20px;
  }
}
@media (min-width: 1024px) {
  .Container, article, .PropertyHeader {
    margin: 0 auto;
  }
}

.ListReset, .Room_facilities, .Breadcrumbs {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  text-align: center;
  font-size: 100%;
  cursor: pointer;
  margin: 0;
  padding: 6px 20px;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
  background: #22A7F0;
  color: white;
}
.Btn, .Btn:hover {
  text-decoration: none;
}
.Btn:active {
  outline: none;
}
.Btn[disabled] {
  opacity: .5;
  cursor: not-allowed;
  pointer-events: none;
}

.Cover {
  background-image: url("../img/cover.jpg");
  background-size: cover;
  height: 300px;
  /* Can add responsive images like this:
  @include breakpoint($bp-lap) {
      background-image: url('../img/cover--medium.jpg');
  }
  @include breakpoint($bp-desk) {
      background-image: url('../img/cover--large.jpg');
  }
  */
}

.PropertyHeader {
  display: inline-block;
  margin-top: 120px;
  padding: 10px 30px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

@media (min-width: 750px) {
  .Property {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .Property:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media (min-width: 750px) {
  .PropertyBlurb {
    width: 65.4321%;
    float: left;
    margin-right: 3.7037%;
  }
}

@media (min-width: 750px) {
  .PropertyDetails {
    width: 30.8642%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 750px) {
  .Room {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .Room:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media (min-width: 750px) {
  .RoomNav {
    width: 22.22222%;
    float: left;
    margin-right: 3.7037%;
  }
}

@media (min-width: 750px) {
  .RoomDetails {
    width: 74.07407%;
    float: right;
    margin-right: 0;
  }
}

.Room_facilities {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  text-indent: 2px;
  list-style-position: outside;
}
.Room_facilities:after {
  content: " ";
  display: block;
  clear: both;
}
.Room_facilities > li {
  width: 48.14815%;
  float: left;
}
@media (min-width: 750px) {
  .Room_facilities > li {
    width: 22.22222%;
    float: left;
  }
}
.Room_facilities > li.available:before {
  content: '✔';
  color: green;
  margin-left: -1em;
  margin-right: .300em;
}

.Room_header img {
  width: auto;
  height: 3.7em;
  max-width: 100%;
  float: left;
  padding-right: 20px;
}
.Room_header h2 {
  margin: 0 0 .2em 0;
}

.Breadcrumbs {
  overflow: hidden;
}
.Breadcrumbs > li {
  float: left;
}
.Breadcrumbs > li > a {
  color: white;
  text-decoration: none;
  padding: 5px 0 5px 65px;
  background: #22A7F0;
  position: relative;
  display: block;
  float: left;
}
.Breadcrumbs > li > a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  /* Go big on the size, and let overflow hide */
  border-bottom: 20px solid transparent;
  border-left: 30px solid #22A7F0;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 100%;
  z-index: 2;
}
.Breadcrumbs > li > a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}

/*# sourceMappingURL=build.css.map */
