@import "../bower_components/susy/sass/susy",
        "../bower_components/breakpoint-sass/stylesheets/breakpoint",

        "variables",
        "susy-config",

        "Typography.scss",
        "Property.scss",
        "Room.scss",
        "Media.scss";



// Variables
$bp-lap: 750px;
$bp-desk: 1024px;

$bp-palm-max: ($bp-lap -1);
$bp-palm-only: max-width ($bp-palm-max);

$btn-border-radius: 4px;
$color-link: #22A7F0;

// Base
body {
    margin: 0
}
img {
    max-width: 100%
}
svg {
    max-height: 100%
}
a {
    color: $color-link;
    text-decoration: none;
}


section {
    padding-top: 20px;
}


.Container {
    margin: 0 10px;
    max-width: 1024px;
    @include breakpoint($bp-lap) {
        margin: 0 20px;
    }
    @include breakpoint($bp-desk) {
        margin: 0 auto;
    }
}

.ListReset {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

article {
    @extend .Container;
}

.Btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-family: inherit;
    text-align: center;
    font-size: 100%;
    cursor: pointer;
    margin: 0;
    padding: 6px 20px;
    line-height: normal;
    border: 1px solid transparent;
    border-radius: $btn-border-radius;
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
    background: $color-link;
    color: white;

    &,
    &:hover{
        text-decoration:none;
    }

    &:active {
        outline:none;
    }

    &[disabled] {
        opacity: .5;
        cursor: not-allowed;
        pointer-events: none; // Future-proof disabling of clicks
    }
}

.Cover {
    // Image not optimised
    background-image: url('../img/cover.jpg');
    background-size: cover;
    height: 300px;

    /* Can add responsive images like this:
    @include breakpoint($bp-lap) {
        background-image: url('../img/cover--medium.jpg');
    }
    @include breakpoint($bp-desk) {
        background-image: url('../img/cover--large.jpg');
    }
    */
}

.PropertyHeader {
    @extend .Container;
    display: inline-block;
    margin-top: 120px;
    padding:  10px 30px;
    background: rgba(0,0,0,0.5);
    color: white;
}

.Property {
    @include breakpoint($bp-lap) {
        @include container(12);
    }
}
.PropertyBlurb {
    @include breakpoint($bp-lap) {
        @include span(8);
    }
}
.PropertyDetails {
    @include breakpoint($bp-lap) {
        @include span(4 last);
    }
}

.Room {
    @include breakpoint($bp-lap) {
        @include container(12);
    }
}

.RoomNav {
    @include breakpoint($bp-lap) {
        @include span(3);
    }
}
.RoomDetails {
    @include breakpoint($bp-lap) {
        @include span(9 last);
    }
}

.Room_facilities {
    @extend .ListReset;
    @include container(12 no-gutters);

    padding-left: 20px;
    text-indent: 2px;
    list-style-position: outside;

    & > li {
        @include span(6 no-gutters);
        @include breakpoint($bp-lap) {
            @include span(3 no-gutters);
        }
    }

    & > li.available:before {
        content: '✔';
        color: green;
        margin-left: -1em;
        margin-right: .300em;
    }
}

.Room_header {
    img {
        width: auto;
        height: 3.7em;
        max-width: 100%;
        float: left;
        padding-right: 20px;
    }

    h2 {
        margin: 0 0 .2em 0;

    }
}

.Breadcrumbs {
    @extend .ListReset;
    overflow: hidden;

    & > li {
       float: left;

        & > a {
            color: white;
            text-decoration: none;
            padding: 5px 0 5px 65px;
            background: $color-link;
            position: relative;
            display: block;
            float: left;

            &:after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 20px solid transparent;           /* Go big on the size, and let overflow hide */
                border-bottom: 20px solid transparent;
                border-left: 30px solid $color-link;
                position: absolute;
                top: 50%;
                margin-top: -20px;
                left: 100%;
                z-index: 2;
            }

            &:before {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-left: 30px solid white;
                position: absolute;
                top: 50%;
                margin-top: -20px;
                margin-left: 1px;
                left: 100%;
                z-index: 1;
            }
        }
    }
}

